:root {
  --font-roboto: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}
