.section {
  width: 100%;
  background: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: space-between;
  gap: 40px;
}

/* Для планшетов - 2 карточки в ряду */
@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(2, 360px);
    gap: 30px;
  }
}

/* Для мобильных - 1 карточка в ряду */
@media (max-width: 768px) {
  .section {
    padding: 30px 0;
  }

  .container {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
}
